*{
    margin: 0%;
    padding: 0%;
}


body{
    overflow-x: hidden;
}

.page1 {
overflow: hidden;
position: relative;
width: 100vw;
height: 100vh;
background-image: url('./image/PicsArt_09-05-07.49.45.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}
.navbar{
    position: sticky;
    top:0;
    left:0;
    background:rgba(100, 99, 99, 0.603);
    height: 10vh;
    display:flex;
    justify-content: space-between;
    align-items:center;
    font-size: clamp(0.85rem,3vw,1.5rem); 
    z-index:6;
}
.navbar .left{
  font-size: clamp(0.95rem,3vw,1.5rem); 
  margin-left: 35px;
  background-color: transparent;
  border-width: 0ch;
  color:white; 
}
.navbar .right{
    margin-right: 25px;
    width: 30%;
    display:flex;
    justify-content: space-around;
 }
 .navbar .right button{
   background:transparent;
   font-size: clamp(0.85rem,3vw,1.5rem); 
   border:none; 
   color:white; 
 }
.para {
  
    position: absolute;
    font-size: 30px;
    z-index:1;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Prompt', sans-serif;

}

.title {

    font-size: clamp(5rem, 12vw, 10rem);
    position: absolute;
    z-index:1;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    
}


.box {
    position: absolute;
    top: -1%;
    left: 20%;
    width:30vw;
    height: 100vh;
    background-color:#EF0E0E;
    opacity: 0.5;
}

.title p {
    font-size: clamp(5rem, 12vw, 10rem);
    position: absolute;
    z-index:1;
    top: 4.35%;
    left: -17%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    transform: rotate(180deg);
}
.page2 {
position: relative;
width: 100vw;
height: 100vh;
background-size: 100% 100%;
}
.aboutus {
   color: black;
    position: absolute;
    font-size: clamp(5rem, 12vw, 10rem);
    position: absolute;
    z-index:5;
    top: 25%;
    left: 15%;
    transform: translate(-50%, -50%);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 95px;
}
.info {
    color: black;
    position: absolute;
    font-size: clamp(5rem, 12vw, 10rem);
    position: absolute;
    z-index:5;
    top: 55%;
    left: 5%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 35px;
}
.box2 {
    position: absolute;
    background-color: black;
    width:1000px;
    height: 300px;
    z-index: -1;
    margin-top: 60%;
    margin-left: 32%;
}

.baby {
    width: 330px;
    height: 280px;
    margin-left: 60%;
    margin-top: 1%;
}
.donate {
    text-align: center;
    z-index: 3;
    margin-top: 63%;
    margin-left: 39%;
    position: absolute;
    color: rgb(253, 253, 252);
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    
}

.page3 {
    position: relative;
    width: 100vw;
    height: 100vh;
   
    }


.box3 {

    position: absolute;
    background-color: black;
    width:100vw;
    height: 220px;
    z-index: 1;
    margin-left: 0%;
    margin-top: 70%;
 }

 .box4 {
    position: absolute;
    background-color:#EF0E0E;
    width:2000px;
    height: 20px;
    z-index: 2;
    margin-left: 0%;
    margin-top: 72%;
 }

 .redbutton {

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 14px;
    line-height: 14px;
    color: #fff;
    font-family: Trebuchet MS;
    width: 185px;
    font-size: 20px;
    font-weight: 900;
    padding: 12px;
    background-color: #EF0E0E;
    -webkit-box-shadow: 1px 1px 14px 0 #FFFFFF;
    -moz-box-shadow: 1px 1px 14px 0 #FFFFFF;
    box-shadow: 1px 1px 14px 0 #FFFFFF;
    text-shadow: 1px 1px 6px #000000;
    text-decoration: none;
    display: inline-block;
    cursor:pointer;
    text-align: center;

    z-index: 3;
    margin-top: 74%;
    margin-left: 45%;
    position: absolute;
 }

 .flex-container {
    z-index: 5;
    display: flex;
    margin-top: 10px;

    
    justify-content: space-between;
    align-items:center;
    
  }
 .flex-container > div {
 align-items: center;
  z-index: 5;
  margin: 5px;
  padding: 50px;
  font-size: 5px;
  height: 30px;
 }

 .flex-container > div> img {
    
    background-color:black;
    margin: 70px;
    padding: 10px;
    height: 50px;
    width: 50px;
   
   }

